page-home {

}

#main-ui{

}



#water-level{
    color: blue;
    display: inline-block;
    width: calc(50% - 2px);
    border: solid 1px #62ff00;
}

#options{
    color: greenyellow;
    display: inline-block;
    width: calc(50% - 2px);
}

#t1{
    display: inline-block;
    width: calc(50% - 2px);
    min-height: 474px;
    width: 68px;
    background-color: #b8e7f7;
}

#level-water{
    position         : absolute;
    bottom           : 8px;
    min-height       : 0px;
    width            : 68px;
    background-color : blue;
}

#level-status{
    font-weight: bold;
    font-size: 33px;
}