<ion-header>
    <ion-navbar>
       <ion-title>
          Nivel de agua en tinacos
       </ion-title>
    </ion-navbar>
 </ion-header>
 <ion-content padding>
    <ion-grid *ngIf="authService.isAuthenticated">
       <ion-row>
          <ion-col col-3>
             <ion-row>
                <ion-col col-6>
                   <div id="t1"></div>
                   <div id="level-water"></div>
                </ion-col>
             </ion-row>
             <ion-row align-items-center>
                <ion-col col-6>
                  <ion-label fixed id="level-status">{{water_level}}%</ion-label>
                </ion-col>
                <ion-col col-1>
                  <br><br><br><br><br>
                </ion-col>
             </ion-row>
          </ion-col>
          <ion-col col-9>
             <ion-row>
                <ion-col col-12>
                   <ion-item-group>
                      <ion-item-divider color="light">Configuraciones</ion-item-divider>
                   </ion-item-group>
                </ion-col>
             </ion-row>
             <ion-row>
                <ion-col col-12>
                   <ion-item>
                      <ion-label stacked>% Nivel de agua</ion-label>
                      <ion-input type="number" value="20"></ion-input>
                   </ion-item>
                </ion-col>
             </ion-row>
             <ion-row justify-content-center>
                <ion-col col-10>
                    <button ion-button large (click)="connect()">Consultar niveles</button>
                </ion-col>
             </ion-row>
             <ion-row>
                <ion-col col-12>
                   <ion-item-group>
                      <ion-item-divider color="light">Logs</ion-item-divider>
                   </ion-item-group>
                </ion-col>
             </ion-row>
             <ion-row>
                <!--ion-col col-12>
                   <ion-item>
                      {{status_server}}
                      <ion-icon name="{{icon_server_status}}" item-end color="{{color_server_status}}"></ion-icon>
                   </ion-item>
                </ion-col-->
                <ion-col col-12>
                   <ion-item>
                      {{status_reading_level}}
                      <ion-icon name="{{icon_level_status}}" item-end color="{{color_level_status}}"></ion-icon>
                      <ion-spinner item-end [hidden]="status_loading"></ion-spinner>
                   </ion-item>
                </ion-col>
                <ion-col col-12>
                   <ion-item>
                      Estado de la bomba
                      <ion-icon name="{{bomb_state_icon}}" item-end color="{{bomb_state_color}}"></ion-icon>
                   </ion-item>
                </ion-col>
             </ion-row>
             <ion-row justify-content-center align-items-center>
                <ion-col col-10 offset-1>
                    <button ion-button [color]="bomb_state ? 'danger' : 'secondary' " large (click)="changeBombStatus()">{{bomb_button_status_str}} bomba</button>
                  </ion-col>
                  <ion-col col-1>
                    <br><br><br><br><br><br><br><br><br><br>
                  </ion-col>
             </ion-row>
          </ion-col>
       </ion-row>
    </ion-grid>
    <ion-grid *ngIf="!authService.isAuthenticated">
      <ion-row justify-content-center>
        <ion-col col-12>
            <ion-item>
              <ion-label stacked>Server</ion-label>
              <ion-select [(ngModel)]="server_ip">
                <ion-option value="http://localhost:8080">http://localhost:8080</ion-option>
                <ion-option value="http://localhost:8082">http://localhost:8082</ion-option>
                <ion-option value="https://tinaco2.tk">https://tinaco2.tk</ion-option>
                <ion-option value="http://192.168.1.85:8082">http://192.168.1.85:8082</ion-option>
                <ion-option value="http://192.168.0.12:8082">http://192.168.0.12:8082</ion-option>
              </ion-select>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
          <ion-col col-4>
              <button ion-button color="secondary" large (click)="login()" [disabled]="server_ip==''">Login</button>
          </ion-col>
      </ion-row>
    </ion-grid>
 </ion-content>