page-home {

}

#main-ui{

}



#water-level{
    color: blue;
    display: inline-block;
    width: calc(50% - 2px);
    border: solid 1px #62ff00;
}

#options{
    color: greenyellow;
    display: inline-block;
    width: calc(50% - 2px);
}

#t1{
    display: inline-block;
    width: calc(50% - 2px);
    background-color: blue;
    min-height: 555px;
    width: 68px;
    border: solid black 1px;
}
